<div class="min-w-[200px] content bg-indigo-500 pt-4">
  <div class="w-20 h-20 bg-indigo-50 mx-auto rounded-full mb-4 shadow-sm"></div>
  <item-navigation [icon]="airplanesIcon" name="Aviones" route="/airplanes" />
  <item-navigation [icon]="fligthsIcon" name="Vuelos" route="/flights" />
  <item-navigation [icon]="ticketsIcon" name="Tiquetes" route="/tickets" />
  <item-navigation [icon]="clientsIcon" name="Clientes" route="/clients" />

  <hr class="text-white my-3" />

  <item-navigation [icon]="configurationIcon" name="Configuración" route="/configuration" />
</div>
