<table class="table custom-table w-full mt-3">
  <thead>
    <tr class="bg-indigo-500 text-white text-left">
      <th></th>
      <th>#</th>
      <th>Fecha salida</th>
      <th>Hora salida</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="text-indigo-100">
    @for (flight of flightProviderService.filteredFlights(); track $index) {
      <tr>
        <td></td>
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.departureDate }}</td>
        <td>{{ flight.departureHour }}</td>
        <td>{{ flight.origin }}</td>
        <td>{{ flight.destiny }}</td>
        <td>
          <icon-button [icon]="editIcon" color="text-indigo-500" (click)="handleModify(flight)" />
          <icon-button [icon]="deleteIcon" color="text-red-500" (click)="handleDelete(flight.id!)" />
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="5" class="text-center bg-indigo-100 p-2 font-semibold text-black">No hay aviones que mostrar</td>
      </tr>
    }
  </tbody>
</table>
